name: CI/CD Pipeline
on:
  push:
    branches:
      - main
      - "**"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Set up Go
        uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6
        with:
          go-version: "1.24.x"

      - name: Run linter
        run: make vet

      - name: Run tests
        run: make test
